{{> mainNavBar}}



<div class="container">
<h3>Please register using the form below</h3>

	<div class="row">
		<form action="/my-handling-form-page" class="expense-form" method="post">
		    <div class="input-group">
		        <label for="name">User_Name</label>
		        <input type="text" class="form-control" id="username" name="username">
		    </div>
		    <div class="input-group">
		        <label for="expense">expense?</label>
		        <input type="checkbox" class="form-control" id="expense" name="expense" value="true">
		    </div>
		    <div class="input-group">
		        <label for="expense_category">Expense_category</label>
		        <input type="text" class="form-control" id="expenseCategory" name="expenseCategory">
		    </div>
		    <div class="input-group">
		        <label for="expense_value">Expense_value</label>
		        <input type="number" class="form-control" id="expenseValue" name="expenseValue">
		    </div>
		    <div class="input-group">
		        <label for="recurring">recurring?</label>
		        <input type="checkbox" class="form-control" id="recurring" name="recurring" value="true">
		    </div>
		    <div class="input-group">
		        <label for="recurring_periodic">recurring_periodic</label>
		        <input type="number" class="form-control" id="recurringPeriodic" name="recurringPeriodic" value="0">
		    </div>
		    <button type="submit" class="btn btn-primary" value="register">Submit</button>

		</form>
	</div>
</div>