{{> mainNavBar}}

<div>
	<h3> we are in d3 visualization tab test</h3>

	<form class="expense-query-form">
	    <div class="input-group">
	        <label for="name">Unter your name to display pie chart of expenses</label>
	        <input type="text" class="form-control" id="usernameExpensesPie" name="username">
	    </div>
	    <button type="submit" class="btn btn-primary" value="register">Show Pie Chart of Expenses</button>
	</form>

	<form class="expense-query-form-line-chart">
	    <div class="input-group">
	        <label for="name">Unter your name to display line graph of your finances</label>
	        <input type="text" class="form-control" id="usernameExpensesLine" name="username">
	    </div>
	    <button type="submit" class="btn btn-primary" value="register">Show Line Graph of Finances</button>
	</form>
</div>

<svg width="960" height="500"></svg>
