{{> mainNavBar}}

<div>
			<button type="button" id="expense-information"></button>
			<br><br>
				<div>
				{{#each expense}}
				   {{> expenses/expense-block}}
				{{/each}}
				</div>
			<hr>

</div>
