{{> mainNavBar}}

<div>
	<h3>Visualize your data, bro.</h3>

	<form class="create-pie-chart">
	    <div class="input-group">
	        <input type="hidden" class="form-control" id="usernameExpensesPie" name="username" value="{{ username}}">
	    </div>
	    <button type="submit" class="btn btn-primary" value="register">Show Pie Chart of Expenses for {{ username }}</button>
	</form>

	<form class="create-line-graph">
	    <div class="input-group">
	        <input type="hidden" class="form-control" id="usernameExpensesLine" name="username" value="{{ username}}">
	    </div>
	    <button type="submit" class="btn btn-primary" value="register">Show Line Graph of recent expenses for {{ username }}</button>
	</form>
</div>

<svg width="960" height="500"></svg>
