{{> mainNavBar}}

<div>
	<h3> we are in d3 visualization tab test</h3>

	<form action="/my-handling-form-page" class="expense-query-form" method="post">
	    <div class="input-group">
	        <label for="name">Unter your name to check expenses</label>
	        <input type="text" class="form-control" id="usernameExpenses" name="username">
	    </div>
	    <button type="submit" class="btn btn-primary" value="register">List Expenses</button>
	</form>
	<div>
		{{#each expense}}
		   {{> userExpenses}}
		{{/each}}
	</div>
</div>