{{> mainNavBar}}

<div>
	<h3> we are in d3 visualization tab test</h3>
			<button type="submit" id="expense-information">show my fucking</button>
			<br><br>
				<div>
				{{#each expense}}
				   {{> expenses/expense-block}}
				{{/each}}
				</div>
			<hr>

</div>
