{{> layout}}

	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to expenD3tures!</h1>
			<p>Register or login to continue</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<h2>Expenses</h2>
				<p>Track expenses easy and simply</p>
			</div>
			<div class="col-md-3">
				<h2>Charts?</h2>
				<p>We got 'em</p>
			</div>
			<div class="col-md-3">
				<h2>No Frills</h2>
				<p>Totally low key!</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
{{> footer}}