{{> layout}}

<div class="page-header">
    <h1>login</h2>
</div>
<p>Please login using the form below</p>
<div class="container">
<div class="row">
<form action="/my-handling-form-page" method="post">
    
    <div>
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="user_name">
    </div>
    <div>
        <label for="msg">Password:</label>
        <input type="password" id="passowrd" name="password"></input>
    </div>
    <button type="button" class="btn btn-primary" value="login">Submit</button>

</form>
</div>
</div>