<p>
<br>
	<form class="create-form">
		<hr>
	    <h1>your name is {{this.user_name}}</h1><br>
	    <h3>this expense is {{this.expense_value}}</h3><br>
	    <h3>this expense was for{{this.expense_category}}</h3>
	    <hr>
	</form>
<br>
</p>